#aside {
	width: 200px;
	margin-left: 20px;
	position: relative;
	z-index: 1;
}

#aside ul {
	width: 100%;
	margin-bottom: 10px;
	border-top: 1px solid #ddd;
	list-style-type: none;
}

#aside li {
	font-size: inherit;
	color: inherit;
}

#aside a {
	display: block;
	padding: 10px;
	color: inherit;
}
