@font-face {
	font-family: 'FTN45__W';
	src: url('../fonts/FTN45__W.woff2') format('woff2'),
		url('../fonts/FTN45__W.woff') format('woff');
}

@font-face {
	font-family: 'FTN75__W';
	src: url('../fonts/FTN75__W.woff2') format('woff2'),
		url('../fonts/FTN75__W.woff') format('woff');
}

*, html, body {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

body {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	font: 18px/1.2 'FTN45__W', sans-serif;
	font-weight: normal;
	color: #2d2d2d;
}

body.details {
	overflow-y: hidden;
}

a {
	text-decoration: none;
}

#main {
	width: 100%;
	min-height: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: stretch;
	flex-wrap: wrap;
	position: relative;
	z-index: 1;
}

#content {
	width: 100%;
	height: calc(100vh - 100px);
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: stretch;
	flex-wrap: wrap;
	position: relative;
	z-index: 1;
	padding-top: 20px;
}
