@font-face {
	font-family: 'FTN45__W';
	src: url('../fonts/FTN45__W.woff2') format('woff2'),
		url('../fonts/FTN45__W.woff') format('woff');
}

@font-face {
	font-family: 'FTN75__W';
	src: url('../fonts/FTN75__W.woff2') format('woff2'),
		url('../fonts/FTN75__W.woff') format('woff');
}

*, html, body{
	margin: 0;
	padding: 0;
}

html{
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

body{
	overflow-x: hidden;
	overflow-y: auto;
	letter-spacing: 1px;
	font: 14px/1.2 'FTN45__W', sans-serif;
	font-weight: normal;
	color: #2d2d2d;
}

body.details{
	overflow-y: hidden;
}

a{
	text-decoration: none;
}

#main{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: stretch;
	flex-wrap: wrap;
	position: relative;
	z-index: 1;
}
