#details {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: #fff;
}

#details .product {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

#details .img {
	height: 100%;
}

#details .img img {
	display: block;
	width: auto;
	height: 100%;
}

#details .img .bag {
	display: none;
}

#details .caption {
	padding: 40px;
	font-size: 20px;
}

#details .color, #details .size, #details .collection {
	display: block;
	margin-top: 10px;
}

#details .price {
	display: block;
	margin-top: 10px;
	font-family: 'FTN75__W';
}

#details span.bag {
	display: inline-block;
	margin-top: 40px;
	background-color: #00aa5b;
	padding: 20px 30px;
	text-transform: uppercase;
	font-family: 'FTN75__W';
	font-size: 16px;
	color: #fff;
	cursor: pointer;
}

#details span.bag.disable {
	background-color: #2d2d2d;
}

#details .product.soldes .price {
	text-decoration: line-through;
}

#details .product.soldes .price span {
	display: inline-block;
	padding-left: 5px;
	color: #d01345;
	text-decoration: none;
}

.details #details {
	display: block;
}